.navbar-brand{
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.stats-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.stats-row > div{
    width: 19rem;
    height: 7rem;
    font-size: 1rem;
    flex: none;
    cursor: pointer;
}


.inventory-table-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.inventory-table-row > div{
    flex: 1 1 auto;

}

.sectionName {
    text-align: center;
}

#Title{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.title{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.4rem;
}

body {
    background-image: url(../images/portalPhoto.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height: calc(100vh - 5rem) !important;
    overflow-y: auto;
}

footer {
    background-color: black;
    padding: 8px;
    text-align: center;
    color:white;

    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 1.2rem;
}